body {
    font-family: 'Merriweather', serif;
}

.errorMsg{
    color:red;
}

.dailyMsg{
    color:green;
}

.form{
    margin: 0 auto;
}

.pizzaLijst {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align:left;

}

/*  div {
    border-style: solid;
    border-color: red;
    border-width: 2px;
} */

.gegevens {
    text-align: center;
}

.title {
    font-size: 45px;
    text-align: center;
    padding-top:20px;
}

header {
    height:100px;
    background-color:lightgrey;
    border-radius: 5px;
}

.column1 {
    background-color:lightgrey;
    padding:15px;
    border-radius: 5px;

}

.column2 {
    background-color:lightgrey;
    padding:15px;
    border-radius: 5px;
}

.column3 {
    background-color:lightgrey;
    padding:15px;
    border-radius: 5px;
}

.column4 {
    background-color:lightgrey;
    padding:15px;
    border-radius: 5px;
}

.column5 {
    background-color:lightgrey;
    padding:15px;
    border-radius: 5px;
}


